*{
    transition: all 1s;
    font-family: sans-serif ;
}

button{
  background: #ef4281 ;
  border: 1px solid #ef4281 ;

  font-family: robotoregular ;
  font-weight: normal !important;
  font-size: 14px ;
  border-radius: 0px;
  color: white ;
}
h2{
  font-weight: 600;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase
}

nav {
  top:0;
  z-index: 5000;
  
}

.navIconHold  {
color: #02B7C2;


width: 100%;

}

.navIconHold a {
  padding: 0 10px;
}

.bg-color{
  background-color: white;
  box-shadow: 0 0.2px 10px 0 rgba(000,000, 000, 0.3); 
}

/*Start Footer*/
footer{
    background-color: #02B7C2;
    color:white;
}

footer h4 {
  font-size: 17px;
  margin: 10px 0px 15px;
  text-transform: uppercase;
  font-family: robotobold;
  padding: 0px;
  color: #fff;
}

footer p , footer ul li{
  font-size: 13px;
  font-family: robotobold;
}


.copyRight{
    background-color: #EF4281;
    color: white;
    font-size: 12px;
}
.copyRight p {
    margin-bottom:0; 
    font-size: 11px;
  margin: 10px 0px 15px;
  text-transform: uppercase;
  font-family: robotobold;
  padding: 0px;
  color: #fff;
}
/*End footer*/